/**/
@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');
html{
    font-size: 62.25%;
    background:#222 url(/assets/back.png)no-repeat fixed center center / cover;
    
}
/*
body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;
Test 
}
nav ol , section h2{
    font: 2.6rem 'Zhi Mang Xing',cursive;
}
*/

body{
    font: 2.6rem 'Zhi Mang Xing',cursive;
    margin: 0;
}
/*Texte custom paragraphe*/
p,a,ol{
    font: 2rem "Open Sans",sans-serif;
    font-weight: lighter;
    
}

h1,h2,ol,p,a{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    
}
*{
    text-decoration: none;
    color: #222;
}
/* theme css */

:root{
    --color-backg-change:#c64646;
   
    --header-color:rgb(43, 145, 223);
}

    

body{
    max-width: 110rem;/*dimension box*/
    box-shadow: 0 0 1.2rem rgb(0, 0, 0);
   
    border: 0.1rem solid transparent;
    margin: 0 auto;
    background-color: rgba(255, 255, 255 ,.9);
    
}
header>h1{
    text-align: center;
    line-height: 12rem;
}
section h2::after,nav h2::after{
content:'>';
margin-left:.5rem;/*espacer le content*/
}

header h1::before{
    content: "\002605";
    color: #eb573a;
    vertical-align: .3rem;
    margin-right: .1rem;
}
main{
    padding: 0.5rem;
}
nav ol{
    padding-left:5.0rem;
    margin: 2.0rem ; 
}
nav ol li{
    text-transform: capitalize;
    line-height: 3.5rem;
    font-size: 2.3rem; /*taille du texte*/
}
section h2, nav h2{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color:var(--header-color);
    line-height: 4rem;/*dimension barre"sommaire"*/
    text-transform: capitalize;
    box-shadow:0 .4rem 0 rgb(168, 164, 164);
    text-shadow: .1rem .1rem 0 #ccc;
    color:#fafafa;
    padding: 1.5rem;
}
section .histoire:target{
    background-color: var(--color-backg-change);
}

section img{
    /*Pour changer la taille vu que cest un inline nous devons rajouter cette ligne*/
    display: block;
    width: 100%;
}
section p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    padding: 2.5rem;
    line-height: 4rem;/*changer dimension texte */
    text-align: justify;
}
section .picture{
margin-top:1.0rem ;
   margin-bottom:1.5rem;
}
main footer{
    background-color:transparent;
    text-align: center;
    padding: .5rem;
}


